:root {
  --primary-color: rgba(255, 255, 255, 0.87);
  --secondary-color: #242424;
  --highlight-color: rgb(85, 85, 218);
  --error-bg-color: #f44336;
  --error-text-color: white;
  --font-family: 'Source Sans Pro', sans-serif;
  --font-size-large: 2.5rem;
  --font-size-medium: 1.25rem;
  --font-size-small: 1rem;
  --font-size-error: 16px;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Poddcastinnehåll */
.podcast-list-gallery {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

article {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

img {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

h1 {
  font-size: var(--font-size-large);
  text-align: center;
}

h2 {
  font-size: var(--font-size-medium);
  margin: 0;
}

p {
  font-size: var(--font-size-small);
  margin: 0;
}

a {
  color: var(--primary-color);
  cursor: pointer;

  &:active, &:hover {
    color: var(--highlight-color);
  }
}

/* Dark/Lightmode */
.darkmode {
  background-color: antiquewhite;
  color: #242424;

  a {
    color: #242424;

    &:active, &:hover {
      color: rgb(85, 85, 218);
    }
  }
}

/* Felmeddelande vid fel på API */
.error-message {
  position: fixed;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--error-bg-color);
  color: var(--error-text-color);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: var(--font-size-error);
  z-index: 1000;
}

@media screen and (min-width: 1000px) {
  .podcast-list-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1440px) {
  .podcast-list-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}